.userStatus {
    width: 10px;
    height: 10px;
    background-color: #adb5bd;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    right: auto;
    left: 1.8rem;
    bottom: 0.8rem;
    position: relative;
}

.online {
    composes: userStatus;
    background-color: #06d6a0;
}

.offline {
    composes: userStatus;
    background-color: red;
}

.absent {
    composes: userStatus;
    background-color: orange;
}