.root {
    display: inline-flex;
    position: relative;
    align-items: flex-end;
}

.rootReceiver {
    composes: root;
    flex-direction: row-reverse;
    width: fit-content;
    float: right;
}

.rootSender {
    composes: root;
    width: fit-content;
}

.pictoContainerSender {
    position: relative;
    left: -3rem;
    top: 2rem;
}

.messageTextSender {
    padding: 12px 20px;
    background-color: #fe6e13;
    border-radius: 8px 8px 8px 0px;
    color: #fff;
    position: relative;
}

.messageTextSender:before {
    content: "";
    position: absolute;
    border-color: #fe6e13 transparent transparent #fe6e13;
    border-style: solid;
    border-width: 5px;
    left: 0;
    right: auto;
    bottom: -10px;
}

.messageTextReceiver {
    background-color: #f5f7fb;
    color: #343a40;
    text-align: right;
    border-radius: 8px 8px 0 8px;
    animation: flyIn .6s ease-in-out;
}

.messageTextReceiver:before {
    content: "";
    position: absolute;
    border-color: #f5f7fb #f5f7fb transparent transparent;
    border-style: solid;
    border-width: 5px;
    left: auto;
    right: 0;
    bottom: -10px;
}

.pictoContainerReceiver {
    position: relative;
    top: 2rem;
    right: 1rem;
}

.pictosContainer {
    display: flex;
    position: relative;
    top: 2.5rem;
}

.item {
    margin: 0rem 0rem 2rem 0rem !important;
    min-height: 7rem;
}